.profile-container {
    display:grid;
    height:100vh;
    grid-template-columns: 2fr 1fr;
    color: white;
    
    font-family: cursive;
    gap:10px;
}
.profilepic img{
    max-width:100%;
    /* border-radius:50%; */
    
}
.profile-container > div{
    border:thin solid white;
}
.maincontainer img{
    height:200px;
    width:200px;
    /* border-radius: 50%; */
    padding-top: 100px;    
    padding-left:30px;
    padding-right:20px;
    float: left;
    
}
.pros{
    line-height: 50px;
    font-size:20px;
    /* margin-top:10px; */
    background-image:url(./andy-holmes-rCbdp8VCYhQ-unsplash.jpg)
    
}

.about-me{
    padding-left:300px;
    padding-top: 20px;
    text-align: center;
    
}
    


.maincontainer{
    padding-top: 20px;
    grid-template-columns: 2fr 1fr;

    
}
html{
    background-color:darkblue ;
}
.main-content{
    background-image:url(./andy-holmes-rCbdp8VCYhQ-unsplash.jpg);
}
.member-names{
    background-image:url(./andy-holmes-rCbdp8VCYhQ-unsplash.jpg);
    font-size:20;
    
}



.credits{
    background-image:url(./andy-holmes-rCbdp8VCYhQ-unsplash.jpg);
    padding:20px;
    font-size:30px;

}

.main-content>p{
    text-align: justify;
    padding-top: 100px;    
    padding-left:45px;
    color:blue;
    padding-right:20px;

    
}
.member-names p{
    padding-left:30px;
    font-size:20px;
}
.member-names{
    padding-left:20px;
}


    
