.profile-container {
    display:grid;
    height:100vh;
    grid-template-columns: 2fr 1fr;
    color: whitesmoke; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
    gap:10px;
}
.profilepic img{
    max-width:100%;
    /* border-radius:50%; */
    
}
.profile-container > div{
    border:thin solid white;
}
.maincontainer img{
    height:200px;
    width:300px;
    /* border-radius: 50%; */
    padding-top: 100px;    
    padding-left:30px;
    padding-right:20px;
    float: left;
    
}
.pros{
    line-height: 50px;
    font-size:18px;
    /* margin-top:10px; */
    font-size:30px;
    color: aliceblue;
    font-weight: bold;
    background-image:url(./istockphoto-170958625-170667a.jpg);
    background-size:cover;
    
    font:bold;

    
}

.about-me{
    padding-left:300px;
    padding-top: 20px;
    text-align: center;
    
}
    


.maincontainer{
    padding-top: 20px;
    grid-template-columns: 2fr 1fr;

    
}
html{
    background-color:darkblue ;
}
.main-content{
    background-image:url(./istockphoto-170958625-170667a.jpg);
    background-size:cover;
        text-align:left;
          
        font-weight: bold;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 200%;
    
    
}
.member-names{
   
        background-image:url(./istockphoto-170958625-170667a.jpg);
        background-size: cover;
        font-size:150%;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
        color: whitesmoke;
        
    
}



.credits{
    background-image:url(./istockphoto-170958625-170667a.jpg);
    background-size:cover;
    padding:20px;
    font-size:30px;
    color: whitesmoke;

}

.main-content>p{
    text-align: justify;
    padding-top: 100px;    
    padding-left:45px;
    color: whitesmoke;

    padding-right:20px;
    /* font-size:30px; */

    
}
.member-names p{
    padding-left:30px;
    font-size:20px;
    color: blue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman';
    color: aliceblue;
    
}
.member-names{
    padding-left:20px;
}
a{
    background-color:transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color: transparent;
    color:blue;
    border: thin solid blue;
    border-radius:25px;
}
.pros h2{
    font-size:200%;
}


    
